<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End to End Web-app Automation">
    <test name="Juice Shop end to End automation tests --chrome">
        <parameter name="browserType" value="chrome" />
        <classes>
            <class name="com.juiceshopherokuapp.Tests.EndToEndTest"/>
        </classes>
    </test>
    <test name="Juice Shop end to End automation tests -- edge">
        <parameter name="browserType" value="edge" />
        <classes>
            <class name="com.juiceshopherokuapp.Tests.EndToEndTest"/>
        </classes>
    </test>
    <test name="Juice Shop end to End automation tests-- headless">
        <parameter name="browserType" value="headless" />
        <classes>
            <class name="com.juiceshopherokuapp.Tests.EndToEndTest"/>
        </classes>
    </test>
</suite>
